
<center><input id="magic-btn" type="button" class="btn btn-primary" value="Magic"/></center>
<div id="content">
</div>

<script>
    $(document).ready(function(){
    $("#magic-btn").click(function(){
    alert("hello");
      $.get('/welcome/ajaxrender/magic', {
           			 action_type: "nil", 
            			}, function(response){
                    $('#content').html(response);
    });
    
    });
    });
</script>