<link rel="stylesheet" href="/assets/bootstrap.css">
<div class="container">
    <div class="btn-group">
        <button type="button" class="btn-success">Latest</button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Chronology
      <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                <li><a href="#">2014</a></li>
                <li><a href="#">2013</a></li>
                <li><a href="#">...</a></li>
                </ul>
            </div>    
            <button type="button" class="btn-primary">Best</button>
    </div>
</div>
<div id="Magic-content">

</div>